@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #EFEFEF, #FFFFFF);
    padding: 0px 150px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

header nav a {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 400;
    padding: 0px 30px;
    color: rgba(0, 0, 0, 0.384);
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header button {
    font-family: 'Montserrat';
    font-size: 35px;
    color: white;
    background: linear-gradient(to right, #F22248, #8C0335);
    box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    width: 150px;
    height: 70px;
    border: none;
    transition-duration: 2s;
}

header button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #f22248cb, #8c030ed0);
    font-weight: 600;
}

header nav a.atual {
    color: black;
}

main {
    padding-top: 70px;
    margin: auto;
    border-top: .4px solid black;
}

main section {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

main h1 {
    font-family: 'Montserrat';
    font-size: 96px;
}

main button {
    border: none;
    background: linear-gradient(to right, #F22248, #8C0335);
    width:421px;
    height: 80px;
    border-radius: 26px;
    font-size: 36px;
    color: white;
    transition-duration: 2s;
    box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.25);
}

main button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #f22248cb, #8c030ed0);
}