@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #EFEFEF, #FFFFFF);
    padding: 0% 7%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:15px 0px;
    height: 7vh;
    width: 100%;
    position: sticky;
    top: 0%;
    border-bottom: .4px solid black;
    background: linear-gradient(to right, #EFEFEF, #FFFFFF);
    z-index: 9;
}

header img {
    width: 65px;
}

header nav a {
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 400;
    padding: 0px 30px;
    color: rgba(0, 0, 0, 0.384);
}

header nav a:hover {
    color: black;
    font-weight: 600;
}

header button {
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, #F22248, #8C0335);
    box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    width: 150px;
    height: 70px;
    border: none;
    transition-duration: .4s;
}

header button:hover {
    width: 170px;
    height: 75px;
}

header nav a.atual {
    color: black;
}

main {
    padding-top: 70px;
    margin: auto;
    position: relative;
}

main section {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

main h1 {
    font-family: 'Montserrat';
    font-size: 86px;
}

main button {
    border: none;
    background: linear-gradient(to right, #F22248, #8C0335);
    height: 80px;
    border-radius: 26px;
    padding: 0px 25px;
    font-size: 36px;
    font-weight: 500;
    color: white;
    transition-duration: .4s;
    box-shadow: 5px 9px 25px rgba(0, 0, 0, 0.25);
}

main button:hover {
    padding: 0px 40px;
    height: 100px;
}

main img {
    max-width: 550px;
}

.conteudo-principal {
    margin-bottom: 80px;
}

#sobre-nos {
    display: flex;
    flex-direction: column;
    background-color: red;
    line-height: 2em;
    font-size: 1.5em;
    font-family: sans-serif;
    color: white;
}